extends /layout/main.pug


block vars
	- var title = "首页"


block styles
	link(rel="stylesheet" href="")


block content
	h1.notice Click the links bottom
	.menu-list
		.menu-item
			//- 配置打包后Public是绝对路径还是相对路径两种模式(下面同理)
			a(href=SERVICE_MODE ? "/vue" : "./vue/index.html") Vue SPA Page
		.menu-item
			a(href="/react") React SPA Page
		.menu-item
			a(href="/login") Tradition Login
	hr

	.login-wrap
		.account
			input(type="text" placeholder="请输入账号...(admin)")#account
		.pwd
			input(type="text" placeholder="请输入密码...(123456)")#pwd
		.code-wrap
			input(type="text" placeholder="请输入验证码...")#code
			#codeSvg
		.btn-wrap
			button.btn#loginBtn 登录
			button.btn#logoutBtn 退出(模拟,正常登录后显示)

	br

	img(src="/favicon.ico")

	button(id="userBtn" class="pea-btn default") Click Mock Button(need token)

	ul#userList

	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
