doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Pug
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	body
		h1.notice Click the links bottom

		.navbar
			.nav-item
				a(href="/vue") Vue SPA Page
			.nav-item
				a(href="/react") React SPA Page
			.nav-item
				a(href="/login") Tradition Login

		hr

		img(src="/favicon.ico")

		button(id="userBtn", class="pea-btn default") Mock请求...

		ul#userList

		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
