extends /layout/main.pug


block vars
	- var title = "首页"


block styles
	link(rel="stylesheet" href="")


block content
	h1.notice Click the links bottom
	.menu-list
		.menu-item
			a(href="/vue") Vue SPA Page
		.menu-item
			a(href="/react") React SPA Page
		.menu-item
			a(href="/login") Tradition Login
	hr

	img(src="/favicon.ico")

	button(id="userBtn" class="pea-btn default") Click Mock Button

	ul#userList

	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
